---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@consts";
import { getCollection } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);

const wikis = (await getCollection("wiki"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);

const links = (await getCollection("links"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<!doctype html>
<html lang="en">
  <style scoped>
    hr {
      margin-bottom: 2em;
    }
    .latest {
      font-size: 36px;
      margin-top: 2em;
    }
    ul {
      list-style-type: none;
      margin-left: -2em;
    }
    li {
      font-size: 85%;
      margin-bottom: 2em;
    }
    li .date {
      color: rgb(var(--gray));
      margin-bottom: 0.5em;
    }
    li h4 {
      color: var(--accent);
    }
    li:hover h4 {
      text-decoration: underline;
    }
    li a,
    li a:hover {
      color: var(--black);
      text-decoration: none;
    }
  </style>

  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Hello World.</h1>
      <hr />
      <p>
        Welcome to my website, where I collect things I've written like tech guides, my homelab documentation, and copies of my Github gists. Most things I've learned and put to use get written down step-by-step for my own future reference. Maybe some of it will be helpful to you. If not, that's ok, it's still helpful for me. Either way, thanks for visiting!
      </p>
      <h2 class="latest">Latest Blog Posts</h2>
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.slug}/`}>
                <p class="date">
                  <FormattedDate date={post.data.pubDate} />
                </p>
                <h4 class="title">{post.data.title}</h4>
                <span>{post.data.description}</span>
              </a>
            </li>
          ))
        }
      </ul>
      <h2 class="latest">Latest Wiki Articles</h2>
      <ul>
        {
          wikis.map((wiki) => (
            <li>
              <a href={`/wiki/${wiki.slug}/`}>
                <p class="date">
                  <FormattedDate date={wiki.data.pubDate} />
                </p>
                <h4 class="title">{wiki.data.title}</h4>
                <span>{wiki.data.description}</span>
              </a>
            </li>
          ))
        }
      </ul>
      <h2 class="latest">Latest Added Links</h2>
      <ul>
        {
          links.slice(0, 3).map((link) => (
            <li>
              <p class="date">
                <FormattedDate date={link.data.pubDate} />
              </p>
              <h4 class="title">
                <a href={link.data.url} target="_blank">
                  {link.data.title}
                </a>
              </h4>
              <span>{link.data.description}</span>
            </li>
          ))
        }
      </ul>
    </main>
    <Footer />
  </body>
</html>
